body{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #fafafa;
    background: #37474f;
}

header{
    background: #0d47a1;
}

.nav-link{
    background: #0d47a1;
    color: #fafafa;    
}

.navbar-brand{
    background: #0d47a1;
    color: #fafafa;
}

.navbar a:hover{
 color:#212121;
 transform: scale(0.9);
 text-decoration: none;
}

.dropdown-menu{
    background:#0d47a1;
    transform: scale(0.9);  
    text-decoration: none; 
}

.dropdown-menu a:hover{
    color: #fafafa
    text-decoration; 
    transform: scale(0.9);   
}

.dropdown-item{
    color: #fafafa;
}

a{
    text-decoration: none;
    color: #fafafa;
}

h1.texto{
    font-size: 30px;
    font-style: italic;
}

h2.texto{
    font-size: 25px;
}

p.texto{
    text-align: center;
    font-size: 18px;   
}

.frase1{
    color: #fafafa;
    font-style: italic;  
    text-align: center;
    font-size: 15px;   
}

.frase1:hover{
    color: #ffc107;  
}

.frase3{
    color: #fafafa;
    font-style: italic;
    font-size: 20px;
    text-decoration: none;
}

.pdf{
    color: #b0bec5;
}

.pdf:hover{
    color: #fafafa; 
}

.centrado{
    text-align: center;
}

.espacios{
    padding-top: 30px;
    padding-bottom: 30px;
}

footer{
    background: #37474f;   
}

.tienda{
    text-align: center; 
}

h4.tienda{
    text-align: center; 
    font-size: 18px;
}

.btn-primary{
    text-decoration: none;
    float: right;
    background-color: #fafafa;
    color: #37474f;
    border-color: #212121;
}

.btn-primary:hover{
    color: #212121 ;
    background-color: #b0bec5;
}

.representacion:hover{
     color: #b0bec5;
}


.kingdojo{
    color: #b0bec5
}

.kingdojo:hover{
    color: #212121;
}

.entrevista{
    color: #b0bec5;

}

.entrevista:hover{
    color: #212121;
}

.sedes{
    text-align: center;
    
}

h4.sedes:hover{
    transform: scale(1.1);
    color: #212121;
}

.card{
    color: #fafafa;
    background: #0d47a1;
}

h6{
  color: #b0bec5;  
}

p.instructores{
    font-size: 20px;
    text-align: center;
  }

h6.instructores{
    font-size: 15px;
    text-align: center;
}

p.instructores:hover{
    transform: scale(1.1);
    color: #212121;   
}

/*.btn-info{
    text-decoration: none;
    float: left;
    background-color: #fafafa;
    color: #37474f;
    border-color: #fafafa;
}

.btn-info:hover{
    text-decoration: none;
    float: right;
    background-color: #37474f;
    color: #fafafa;
    border-color: #37474f;
}

*/

.logo{
    width: 30%;
}


.contacto{
    font-size: 12px ;
    text-align: left;
}

.frase{
    color: #fafafa;
    font-style: italic;  
    font-size: 20px;
    text-align: center;
}

.frase:hover{
    color: #ffc107;
}

@media screen and (orientation:landscape) and (max-width: 900px){
        h1.texto{
        font-size: 15px;
        font-style: normal;
    }

    h2.texto{
        font-size: 15px;
        font-style: normal;
    }

    h4.tienda{
        text-align: center; 
        font-size: 12px;
    }

    h6.tienda{
        text-align: center; 
        font-size: 12px;
    }

    h4.sedes{
        font-size: 15px;
        font-style: normal;
    }

    p.texto{
        text-align: center;
        font-size: 12px;
        font-style: italic;
    }
   
    .frase1{
            color: #fafafa;
            font-style: italic;  
            text-align: center;
            font-size: 10px;
    }

    .frase3{
        color: #fafafa;
        font-style: italic;
        font-size: 12px;
        text-decoration: none;
    }

    .kingdojo{
        color: #b0bec5
    }
    
    .kingdojo:hover{
        color: #212121;
    }
    
    .entrevista{
        color: #b0bec5;
    
    }
    
    .entrevista:hover{
        color: #212121;
    }

    p.instructores{
        font-size: 20px;
        text-align: center;
      }
    
    h6.instructores{
        font-size: 15px;
        text-align: center;
    }
    
    p.instructores:hover{
        transform: scale(1.1);
        color: #212121;   
    }

  

}

@media screen and (max-width:480px){
    h1.texto{
    font-size: 15px;
    font-style: normal;
}

h2.texto{
    font-size: 15px;
    font-style: normal;
}

h4.tienda{
    text-align: center; 
    font-size: 12px;
}

h6.tienda{
    text-align: center; 
    font-size: 12px;
}

p.texto{
    text-align: center;
    font-size: 12px;
    
}

.frase{
    font-size: 12px;
}

.frase1{
        color: #fafafa;
        font-style: italic;  
        text-align: center;
        font-size: 10px;
}

.frase3{
    color: #fafafa;
    font-style: italic;
    font-size: 12px;
    text-decoration: none;
}

.kingdojo{
    color: #b0bec5
}

.kingdojo:hover{
    color: #212121;
}

.entrevista{
    color: #b0bec5;

}

.entrevista:hover{
    color: #212121;
}


p.instructores{
        font-size: 20px;
        text-align: center;
      }
    
    h6.instructores{
        font-size: 15px;
        text-align: center;
    }
    
    p.instructores:hover{
        transform: scale(1.1);
        color: #212121;   
    }

    .logo{
        width: 10%;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

}



   

   

  

  










